/* Import TailwindCSS */
@import "tailwindcss";

/* Diagnostic Styling 
- Delete when live to world (production phase)
*/
* {
  outline : 1px solid lightgray;
}

@theme {
  --color-new-hotness: oklch(0.6529 0.1554 152.47);
}